body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {   
    font-family: 'Noto Sans';                                              
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/NotoSans-Regular.ttf');
    }
@font-face {   
    font-family: 'Segoe UI';                                              
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Segoe-UI.ttf');
    }
@font-face {   
    font-family: 'Mulish';                                              
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Mulish-Regular.ttf');
    }
@font-face {   
    font-family: 'Monoton';                                              
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Monoton-Regular.ttf');
    }
a{
    text-decoration: none!important;
}
p{
font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #54575A;
}
.nav-text:hover{
    color: #fff;
}
/*  */
.m-r-15{
    margin-right: 15px;
}
.m-l-15{
    margin-left: 15px;
}
.m-t-15{
    margin-top: 15px;
}
.m-t-15im{
    margin-top: 15px!important;
}
.m-t-20{
    margin-top: 20px;
}
.m-t-43{
    margin-top: 43px;
}
.m-t-60{
    margin-top: 60px;
}
.m-t-60-im{
    margin-top: 60px!important;
}
.m-b-15{
    margin-bottom: 5px;
}
.m-b-20{
    margin-bottom: 20px;
}
.m-b-30{
    margin-bottom: 30px;
}
.m-b-40{
    margin-bottom: 40px!important;
}
.m-b-224{
    margin-bottom: 224px;
}
.m-r-l-15{
    margin: 0 16px;
}
.p-b-40{
    padding-bottom: 40px;
}
/*nav-headers*/
.nav-headers{
    position: fixed;
    width: 100%;
    z-index: 12;
}
.top-icon{
    margin-right: 18px!important;
}
.nav-container{
    height: 50px;
    background-color: #EA1584; 
}
.top-nav-right-text{
   text-align: end;
}
.nav-text{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
}
/* Nav-Menu-Header */
.nav-head{
 height: 100px;
}
.logo{
    margin-right: 0!important;
}
.logo img{
    width: 100%;
}
.nav-lists{
    height: 80px;
    display:flex;
    align-items: center;
}
.nav-item-home{
    margin-left: 30px;
}
.nav-item{
    margin-right: 16px;
}
.nav-link{
    font-family:'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: #6C2894!important;
    padding: 0!important;
    
}
.drp-btn{
    font-family:'Noto Sans';
    font-style: normal!important;
    font-weight: 400!important;
    font-size: 14px!important;
    line-height: 22px !important;
    text-transform: uppercase;
    color: #6C2894!important;
    padding: 0!important;
}
.dropdown-item{
    color: #6C2894!important;
}
.btn-check:focus+.btn, .btn:focus{
    box-shadow:none!important;
}
.dropdown-item:focus, .dropdown-item:hover{
    background-color: #EA1584!important;
    color: #FFF!important;
}
.menu-active{
    color: #fff!important;
    background-color: #EA1584!important;
    border-radius: 8px;
    padding: 5px 12px!important;
}
.border-line{
    height: 80px;
    margin: 0 10px 0 auto;
    border: 1px solid #EA1584;
}
.donate-btn{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    border: none;
    padding: 15px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color:  #79307E;
}
/* .search-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
} */
.input-box{
    visibility: hidden;
}
.head-btn{
    display: flex;
    justify-content: space-between;
}
/* Search-Box */
 .search-icon i {
    position: absolute;
    height: 50px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 35px;
    font-size: 32px;
    color: #79307E;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}
.search-box .input-box{
    top: 65px;
    opacity: 1;
    pointer-events: auto;
    background: #79307E;
    position: absolute;
    right: calc(100% - 40px);
    top: 80px;
    height: 60px;
    width: 300px;
    background: #3E8DA8;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}
.input-box input{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 280px;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    border: none;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 23px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 4px;
  box-sizing: border-box;
  color: #79307E;
  margin-bottom: 16px;
  resize: vertical;
}
/*  */
/* Nav-Headers End*/
.height150{
    height: 150px;
}
.mainContainer{
    max-width: 1920px;
    margin: auto;
}

/* Hero-Section-Start*/
.carousel-inner .carousel-item-start,
.carousel-inner .carousel-item-end{
    transform: translateX(0)!important;
}
.hero-carousel-1{
    background-image: url(../img/home-hero-1.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.hero-carousel-2{
    background-image: url(../img/home-hero-2.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    
}
.hero-carousel-3{
    background-image: url(../img/home-hero-3.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.hero-contents{
   margin-top: 160px;
   margin-bottom: 66px;
}
.hero-contents h1{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #FFFFFF;
    margin-bottom: 27px;
}
.hero-contents p{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 18px;
}
/* Banner-Cards */
.m-t-45{
    margin-top: -45px;
    z-index: 7;
}
.jc-center{
    justify-content: center;
}
 .banner-card{
    width: 182px!important;
    margin: 0 8px 15px 8px;
    height: 176px;
    position: relative;
    border-radius: 10px;
    padding: 0!important;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px #E1DCDC;
} 
.banner-card-icons{ 
    text-align: center;
    margin-top: 42px;
}
.banner-card p{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #EA1584;
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    text-align: center;
    margin-bottom: 25px;
}
/* Banner-Cards-End */
/* Hero-Section-End */

/* Content-Section */
.content-section{
    text-align: center;
}
.content-section h6{
font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;
text-align: center;
text-transform: uppercase;
color: #004389;
}
.content-section h3{
font-family: 'Mulish';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 25px;
color: #54575A;
}
.txt-shadow{
text-shadow: 4px 4px 4px #000;
}
.content-section p{
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
color: #54575A;
}
 .text-morelink{
    color: #EA1584;
}
.home-text-morelink{
    color: #EA1584;
}
.event-text-morelink{
    color: #EA1584;
}
.text-morelink:hover{
    color: #EA1584;
} 
.home-text-morelink:hover{
    color: #EA1584;
} 
.event-text-morelink:hover{
    color: #EA1584;
}
/*  */
/* slider-Section */
.slid-gap{
    margin: 0 8px;
}
.slick-slide{
    margin: 0px 8px;
}
.slider {
    width: 100%;
    margin: 50px auto;
}
.hover {
    float: left;
    width: 100%;
}
.hover .content {
    cursor: pointer;
}
.content {
    position: relative;
    width: 100%;
    top: 30px;
    margin: auto;
    overflow: hidden;
}
.content .content-overlay-home {
    background: linear-gradient( #5855559e,#080808ab,#111112de );
    position: absolute;
    height: 25%;
    width: 100%;
    left: 0;
    bottom: 0;
    transition: all 0.4s ease-in-out 0s;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
  }
  .content:hover .content-overlay-home {
    opacity: 1;
  }
  .content:hover .content-details {
    left: 50%;
    opacity: 1;
    text-align: start;
}
.content:hover .hover-txt-home{
    top: 85%!important;
    justify-content: start!important;
    z-index: 19;
}
.content:hover .content-details {
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
  .slick-slide img{
    width: 100%;
    border: 2px solid #fff;
  }
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  .counttext1{
    color: #fff;
  }
  .after-click {
    z-index: 20;
    width: 100%;
    height: 100%!important;
    position: absolute;
    top: 0;
    background-image: linear-gradient( #bcbcbc59,#484b4dd4,#111112 );
    display: none;
}
.click-content {
    margin: 25px;
    text-align: start;
}
.click-content p {
    color: #ffffff;
    margin-top: 20px;
}

/* slider-Section-End */

/* Events-Section */
 .events h5{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
 }
 .pos-relative{
     position: relative;
 }
/* Events-Section-End */

/* Counter-Section */
.mrg-65 {
    margin-top: -32px;
    z-index: 9;
    background: #79307E;
    height: 469px;
}
.about-count {
    padding: 101px 0 0 0;
}
.our-impact{
    color: #FFF;
}
#counter-stats{
    display: flex;
    justify-content: space-between;
}
.count-er{
    display: flex;
    align-items: center;
    justify-content: end;
}
.counting{
    font-family: 'Monoton';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 87px;
    color: #fff;
}
.counting-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.counting-text p{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
}
/*  */
/* Our-Partner-Start */
.our-partner{
    text-align: start;
}
.our-partner h6{
    text-align: start;
}
.our-color{
    color: #EA1584!important;
    cursor: pointer;
}
.img-bg{
    background: #D9D9D9;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-partner-img{
    width: 85%;
    height: 80px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
}
.mrg-b-mob{
    padding: 8px 8px!important;
}
/*  */
.bar-line{
    height: 1px;
    background: #D39AD7;
    margin: 68px auto 68px auto;
    border-radius: 50%;
}
/* Our-Donors */
.our-donors{
    flex-direction: row-reverse;
}
.our-donor-content{
    text-align: end;
}
.our-donor-content h6{
    text-align: end;
}
.our-donor img{
    width: 100%;
}
/*  */
/* Our-Vision-Start*/
.responsive{
    width: 100%;
}
/* Our-Vision-End*/

/* Feature-Schools-Start*/
.card-3{
    margin: 0px 8px 10px 8px;
}
.fea-month{
font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
color: #54575A;
text-align: start;
}
.fea-date{
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 25px;
color: #54575A;
text-align: start;
}
/*Feature-Schools-End*/
/* compliance-card-Start */
.j-c-center{
    justify-content: center;
}
.compliance-card{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #EA1584;
    position: relative;
    width: 32%!important;
}
.comp-card{
    width: 100%;
}
.comp-card img{
    margin-bottom: 35px;
}
.comp-card p{
    position: absolute;
    bottom: 0;
    left: 5px;
    right: 5px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #54575A;
}
/* compliance-card-End */
/* Volunteers-Start*/
.testimonials{
    text-align: center;
   
}
.carousel-caption{
height: 100%;
}
#testimonilas-padding-contentcontrols{
    height: 360px;
    width: 100% !important;
}
.testimonials-text {
    color: #EA1584;
    font-family: "Segoe UI";
    font-size: 24px;
    text-align: start;
    text-shadow: none;
}
.sub-heading {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #707070;
    text-align: start;
}
.testimonials-box p{
    font-size: 17px;
}
.testimonials-content{
    text-align: start;
}
.arrow-previous{
    padding: 17px 0;
}
.arrow-next {
    padding: 17px 0;
}
/* Volunteers-End */
/* Get-Involved-Start */
.get-involved{
  background-image: url(../img/get-involved-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 560px;
}
.get-content h6{
    color: #fff;
  }
.get-content h3{
  font-size: 35px;
  color: #fff;
}
.get-btn button{
    width: 100%;
}
.ctr-get-btn{
    padding:0 8px!important;
}
.center1 .slick-prev{
    position: absolute;
    top: 81%;
    left: 43%
}
.center1 .slick-next{
    position: absolute;
    top: 80%;
    right: 43%;  
}
.m-t-222{
    margin-top: 168px!important;
}
.m-t-250{
    margin-top: 250px!important;
}
/* Get-Involved-End */

/* Footer-Start*/
.footer{
    background: #79307E;
  }
  .footer-link{
    padding-top: 50px;
  }
  .footer-text{
    color: #fff!important;
  }
  .footer-link h5{
    color: #fff;
    display: inline;
  }
  .footer-link p{
    color: #fff;
  }
  .footer-link ul li a{
    font-size: 16px;
    font-family: "Segoe UI";
    color:#fff ;
    line-height: 35px;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-link ul li a:hover{
    color: #EC038D;
    opacity: 1.0;
    padding-left: 8px;
  }
  .footer-link .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    text-align: center;
    line-height: 40px;
    margin-top: 100px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
   ul li {
    list-style-type: none;
    text-decoration: none;
  }
  #make-address,#make-call{
    color: #fff ;
  }
  .footer-link li a {
    text-decoration: none;
    color: #79307E;
  }
  .linked{
    padding-top: 40px;
  }
  .linked img{
    width: 35px;
    position: absolute;
    right: 20px;
    cursor: pointer;
    margin: 8px;
  }
   .footer-map{
      position: relative!important;
      width: 100%!important;
      height: 200px!important;
      border-radius: 10px;
      right: 0;
      left: 0;  
  }
  .footer-content{
    color: #fff;
    padding-top: 40px;
  }
  .footer-logo{
    width: 60%;
    padding-bottom: 13px;
  }
  .footer-menulinks{
    width: 50%;
    float: right;
    position: relative;
    margin-top: -133px;
    padding-left: 1rem!important;
  }
  .footer-map-img a{ 
     display: flex;
    justify-content: center;
    align-items: center;
  }
  .linked ul li a p{
      margin-bottom: 5px;
  }
  form {
    box-sizing: border-box;
    display: flex;
    position: relative;
}
  #myBtn{
    position: fixed;
    bottom: 5px;
    right: 10px;
    cursor: pointer;
    z-index: 99;
  }
  #submit {
    background: url(../img/address.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    border: none;
    width: 40px;
    background-position: 50% 50%;
}
input {
    background-color: #fff;
    border: 1px solid #79307E;
    height: 50px;
    width: 250px;
    color: #EC038D;
}
/* Footer-End */





@media (min-width: 1200px){
    .container{
        max-width: 1189px!important;
    }
}
@media (max-width: 1400px){
    .content{
        height: 400px;
    }
}
@media (min-width: 1400px){
    .container{
        max-width: 1320px!important;
    }
    .jc-center{
        justify-content: start;
    }
    .banner-card{
        width: 204px!important;
    }
    .count-lg{
        justify-content: start;
    }
}
@media (max-width: 768px){
    .m-t-60{
        margin-top: 40px;
    }
    /* Nave-Header */
    .navbar-collapse{
        background-color: #fff;
        height: 100vh;  
        position: relative;
        left: 12px;
        padding: 20px 30px;
    }
    
    .drp-btn{
        font-size: 20px!important;
        line-height: 50px!important;
    }
    .dropdown-menu{
        border: none!important;
    }
    .dropdown-item{
        font-size: 21px!important;
        line-height: 50px!important;
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
    }
    .nav-link{
        font-size: 20px;
        line-height: 50px;
    }
    .menu-active{
        background-color: #fff!important;
    }
    .head-btn{
        display: none;
    }
    .donate-btn-mob{
        display: none;
    }
    .menu-active{
        color: #6C2894!important;
        background: none;
        border-radius: 0;
        padding:0!important;
    }
    .nav-item{
        margin-right: 0;
    }
    .nav-item-home{
        margin-left: 0;
    }
    .nav-lists{
        align-items: start;
    }
    .border-line{
        display: none;
    }
    /* Nave-Header-End */

    /*Hero-Section*/
    .hero-carousel-1{
        background-size: 100% 100%;
        height: 200px;
    }
    .hero-carousel-2{
        background-size: 100% 100%;
        height: 200px;
    }
    .hero-carousel-3{
        background-size: 100% 100%;
        height: 200px;
    }
    .hero-contents{
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .hero-contents h1{
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 5px;
    }
    .hero-contents p{
        line-height: 20px;
        margin-bottom: 10px;
    }
    .donate-btn{
        padding: 10px;
    }
    /*  */
    /* Banner-Card */
    .m-t-45{
        margin-top:0;
    }
    .content-section p{
        text-align: start;
    }
    /* Counter */
    .about-count{
        padding: 50px 0 0 0;
    }
    .mobile-count{
        display: flex;
    }
    .counter-num{
        flex-wrap: wrap;
    }
    .counting-text{
        flex-wrap: wrap;
    }
    .counting{
        font-size: 35px;
        line-height: 55px;
    }
    .counting-text p{
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 0;
    }
    #counter-stats{
        justify-content: center;
    }
    .count-er{
        justify-content: center;
    }
    /*  */
    /* Donors */
    .bar-line{ 
        margin: 40px auto 40px auto;
    }
    /* compliance-Section */
    .compliance-content h3{
        font-size: 23px;
        line-height: 35px;
    }
    /* Volunteer */
    .center1 .slick-prev {
        position: absolute;
        top: 91%;
        left: 31%;
    }
    .center1 .slick-next {
        position: absolute;
        top: 90%;
        right: 31%;
    }
    /*  */
    .mob-m-0{
        margin: 0!important;
    }
    /* Get-Involved-Section */
    .get-involved-mob{
        background-image: url(../img/get-invol-mob.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 220px;
        
      }
    .ctr-get-btn{
        padding: 0 5px!important;
    } 
    .m-t-222{
        margin-top: 0!important;
    }
    /*  */
    .m-t-60-im{
        margin-top: 20px!important;
    }
    .get-content h3{
        font-size: 20px;
        margin-top: 0;
    }
    .get-content{
        margin-bottom: 0;
    }
    /* .m-t-250{
        margin-top: 150px;
    } */
    .m-t-250{
        margin-top: 80px!important;

    }
    /*  */
    .compliance-card{
        width: 100%!important;
        margin-bottom: 15px;
        height: 300px;
    }
    .center-al{
        justify-content: center;
    }
    .slid-gap{
        margin: 0;
    }
}
@media (max-width: 380px){
    /* Top-Header */
    .top-icon{
        margin-right: 10px!important;
    }
    
   /* Banner-Card */
   .banner-card{
    width: 160px!important;
}
.banner-card p{
    font-size: 16px;
}
.slid-gap{
    margin: 0;
}
}
@media (max-width: 360px){
    .nav-text{
        font-size: 16px;
    }
    .banner-card{
        width: 141px!important;
    }
}
@media (max-width: 280px){
    .top-icon{
        margin-right: 7px!important;
    }
    .nav-text{
        font-size: 13px;
    }
    .banner-card{
        width: 121px!important;
    }
    .banner-card p {
        font-size: 11px;
    }
    .hero-contents p{
        font-size: 14px;
    }
    .hero-contents h1{
        font-size: 17px;
        line-height: 20px;
    }
}
